/**************** BOTONES FUNCIONES RESALTANTES ***************/
.contenedorFunciones {
	display: flex;
	align-items: flex-start;
	margin-top: 3%;
	margin-left: 6%;
}

.panelFuncion {
	float: left;
	width: 13vmax;
	background: none repeat scroll 0% 0% #ededed;
	height: 8vmax;
	border-radius: 20px;
	position: relative;
	border: 2px solid #a2a2a2;
}

.panelFuncionPrimero {
	/* 	margin-left: 3vmax; */
	
}

.panelFuncionSegundo {
	/* 	margin-left: 4vmax; */
	margin-left: 5vmax;
}

.panelInternoFuncion {
	border-top: 1px solid #CDCDCD;
	position: absolute;
	bottom: 0px;
	width: 97%;
	left: 0;
	height: 21%;
}

.panelFuncion:hover .funcionHover {
	opacity: 1;
	transition: all 500ms ease-in;
	-webkit-transition: all 500ms ease-in;
}

.panelFuncion:hover .panelFuncionSinHover {
	opacity: 0;
}

.funcionHover {
	opacity: 0;
	/* 	background: #FFFFFF; */
	width: 13vmax;
	height: 8vmax;
	top: 0;
	left: 0;
	position: absolute;
	border-radius: 20px;
	background: rgba(183, 222, 237, 1);
	background: -moz-linear-gradient(top, rgba(183, 222, 237, 1) 0%,
		rgba(113, 206, 239, 0.8) 50%, rgba(33, 180, 226, 0.8) 51%,
		rgba(183, 222, 237, 0.6) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183, 222,
		237, 1)), color-stop(50%, rgba(113, 206, 239, 0.8)),
		color-stop(51%, rgba(33, 180, 226, 0.8)),
		color-stop(100%, rgba(183, 222, 237, 0.6)));
	background: -webkit-linear-gradient(top, rgba(183, 222, 237, 1) 0%,
		rgba(113, 206, 239, 0.8) 50%, rgba(33, 180, 226, 0.8) 51%,
		rgba(183, 222, 237, 0.6) 100%);
	background: -o-linear-gradient(top, rgba(183, 222, 237, 1) 0%,
		rgba(113, 206, 239, 0.8) 50%, rgba(33, 180, 226, 0.8) 51%,
		rgba(183, 222, 237, 0.6) 100%);
	background: -ms-linear-gradient(top, rgba(183, 222, 237, 1) 0%,
		rgba(113, 206, 239, 0.8) 50%, rgba(33, 180, 226, 0.8) 51%,
		rgba(183, 222, 237, 0.6) 100%);
	background: linear-gradient(to bottom, rgba(183, 222, 237, 1) 0%,
		rgba(113, 206, 239, 0.8) 50%, rgba(33, 180, 226, 0.8) 51%,
		rgba(183, 222, 237, 0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed',
		endColorstr='#b7deed', GradientType=0);
}

.enlaceActualizarDatos {
	display: block;
	margin-top: 11%;
	text-decoration: underline !important;
	font-weight: bold;
	color: #424242 !important;
}

.enlaceActualizarDatos:hover {
	color: #bf0000 !important;
}

.textoHoverFuncion {
	font-size: 1.9vmax;
	font-weight: lighter;
	margin-top: 10%;
	position: absolute;
	width: 100%;
	left: 0;
	color: #303030;
	cursor: pointer;
}

.panelFuncionSinHover {
	transition: all 500ms ease-in;
	-webkit-transition: all 500ms ease-in;
}

.imagenInternaFuncion {
	width: 58%;
	height: 5vmax;
}

.textoInternoFuncion {
	color: rgb(29, 123, 173);
	/* font-weight: bold; */
	font-size: 1vw;
	/* margin-top: -23vmax; */
	vertical-align: center;
	padding-top: -2vmax;
	position: absolute;
	margin-top: 0.3vw;
	width: 100%;
	left: 0px;
}

/********************** REDES SOCIALES ********************/
.red:hover .iconosRedes {
	filter: grayscale(1);
	transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	width: 40%
}

.iconosRedes {
	width: 20%;
	float: left;
}

.primeraRed {
	margin-left: 16%;
}

/****************** BOTON INICIO DE SESION ********************/
.botonInicioSesion {
	margin-bottom: 1vw;
	border-radius: 4px !important;
	width: 100% !important;
	height: 2.5vw !important;
	color: #f4f4f4 !important;
	font-weight: bold !important;
	font-size: 1.2vw !important;
}